                        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
                        * {
                            margin: 0;
                            padding: 0;
                            box-sizing: border-box;
                            font-family: 'Poppins', sans-serif;
                        }
                        
                        body {
                            background-color: #0303034d;
                        }
                        
                        header {
                            background-color: rgba(134, 74, 89, 0.548);
                            width: 100%;
                            padding: 0px;
                            filter: drop-shadow(0px 4px 4px rgba(136, 73, 99, 0.952));
                        }
                        
                        h1 {
                            padding: 0;
                            margin: 0;
                            align-items: center;
                            text-align: center;
                            margin-top: 30px;
                            margin-left: 10%;
                            width: 496px;
                            height: 24px;
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 30px;
                            line-height: 24px;
                            color: #fff;
                        }
                        
                        h2 {
                            text-align: center;
                        }
                        
                        .acremento {
                            text-decoration: none;
                            padding: 0;
                            margin: 0;
                            width: 336px;
                            height: 24px;
                            margin-top: 30px;
                            margin-left: 25%;
                            font-family: 'Inter';
                            font-style: normal;
                            font-size: 25px;
                            line-height: 24px;
                            color: #fff;
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.616));
                            position: relative;
                            transition: all .5s;
                        }
                        
                        .acremento:hover {
                            font-size: 32px;
                            color: black;
                        }
                        
                        .a {
                            text-decoration: none;
                            padding: 0;
                            width: 200px;
                            height: 24px;
                            padding-top: 30px;
                            margin-left: 25%;
                            margin: 0;
                            font-family: 'Inter';
                            font-style: normal;
                            font-size: 25px;
                            color: #fff;
                            position: relative;
                            transition: all .5s;
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.616));
                        }
                        
                        .a:hover {
                            font-size: 32px;
                            color: #000;
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.616));
                        }
                        
                        .container {
                            display: flex;
                            margin: 0 auto;
                        }
                        
                        .box-img {
                            width: 10px;
                            padding: 5px 10px;
                        }
                        
                        .div {
                            width: 100%;
                            height: 100%;
                            display: inline-block;
                            margin: 0;
                            padding: 0;
                            text-align: center;
                        }
                        
                        .img {
                            width: 300px;
                            height: 300px;
                        }
                        
                        .logo {
                            width: 15%;
                        }
                        
                        .logo img {
                            width: 90px;
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.616));
                        }
                        
                        .main {
                            display: inline-block;
                        }
                        
                        .main-corpo {
                            top: 150px;
                            position: absolute;
                            width: 100%;
                            height: 80px;
                        }
                        
                        .main-img {
                            margin: 10px;
                            float: left;
                        }
                        
                        .text {
                            width: 906px;
                            height: 207px;
                            font-family: 'Inter';
                            font-style: normal;
                            font-size: 20px;
                            color: #000000;
                        }
                        
                        .div .img .text {
                            display: flex;
                        }
                        
                        .p {
                            font-size: 23px;
                            color: black;
                        }